:root {
    --black: #18181B;
    --lightgray: #E5E5E5;
    --gray: #3F3F46;
    --lightpurple: #C7BCFC;
    --darkpurple: #9580FF;
    --green: #9EE8B6;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--black)
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
}

.price-list p {
    margin: 25px;
}

.nav a{
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.sign-in {
    background-color: var(--gray);
    color: white;
    padding: 7px;
    border-radius: 20px;
    border: none;
    font-size: 12px;
    width: 70px;
}

.free-trial {
    background-color: white;
    color: black;
    padding: 7px;
    border-radius: 20px;
    border: none;
    font-size: 12px;
    width: 70px;
}

.pricing-info {
    width: 100%;
    /* min-width: 600px; */
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.info {
    width: 580px;
}

.info h1 {
    font-size: 55px;
    font-weight: 700;
    line-height: 0.9;
    letter-spacing: -2px;
    color: white;
}

.info p{
    color: white;
    font-size: 1.1rem;
    line-height: 1.7rem;
    margin-top: -10px;
}

.price-container {
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
}

.price {
    width: 500px;
}

.all-plans {
    color: white;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 10px;
    text-align: left;
}

.price-list {
    border: 2px solid var(--lightgray);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 10px;
}

.price-list:hover {
    cursor: pointer;
}

.price-list:active {
    border: 2px solid var(--darkpurple);
    color: var(--darkpurple);
}

.first-price {
    border: 2px solid var(--darkpurple);
    color: var(--darkpurple);
}

.all-plans {
    background-color: var(--gray);
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
}

.get-started {
    width: 270px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--lightpurple);
    font-size: 1.1rem;
}

