:root {
    --black: #18181B;
    --lightgray: #E5E5E5;
    --gray: #3F3F46;
    --lightpurple: #C7BCFC;
    --darkpurple: #9580FF;
    --green: #34ECAE;
    --darkgreen: #1D362F;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--black)
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
}

.plan-list-item p {
    margin: 25px;
}

.nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.sign-in {
    background-color: var(--gray);
    color: white;
    padding: 7px;
    border-radius: 20px;
    border: none;
    font-size: 12px;
    width: 70px;
}

.free-trial {
    background-color: white;
    color: black;
    padding: 7px;
    border-radius: 20px;
    border: none;
    font-size: 12px;
    width: 70px;
}

.sign-in:hover, .free-trial:hover {
    cursor: pointer;
}

.pricing-info {
    width: 100%;
    /* min-width: 600px; */
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.info {
    width: 580px;
}

.info h1 {
    font-size: 55px;
    font-weight: 700;
    line-height: 0.9;
    letter-spacing: -2px;
    color: white;
}

.info p {
    color: white;
    font-size: 1.1rem;
    line-height: 1.7rem;
    margin-top: -10px;
}

.price-container {
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
}

.price {
    width: 460px;
}

.all-plans {
    color: white;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin-bottom: 10px;
    text-align: left;
}

.plan-list-item {
    border: 2px solid var(--gray);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 10px;
}

.plan-list-item:hover {
    cursor: pointer;
    border: 2px solid white;
}

.plan-list-item:active {
    border: 2px solid var(--darkpurple);
    color: var(--darkpurple);
}

.all-plans {
    background-color: var(--gray);
    margin-top: 10px;
    margin-left: 30px;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
}

.get-started {
    width: 350px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: var(--lightpurple);
    font-size: 1.1rem;
    margin-top: 10px;
}

.get-started:hover {
    background-color: var(--darkpurple);
    transition: 0.25s;
}


.free-month {
    background-color: var(--green);
    padding: 10px;
    border-radius: 20px;
    border: none;
}

.buttons {
    margin-top: 40px;
}

.free-month:hover {
    background-color: var(--darkgreen);
    cursor: pointer;
    color: white;
}

#toggle-show-more-btn {
    margin-left: 10px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: var(--gray);
    color: white;
    width: 140px;
}

#toggle-show-more-btn:hover {
    cursor: pointer;
}

.plan-list-item .fa-circle-check {
    display: none;
}

.plan-list-item.selected-plan {
    border: 2px solid var(--darkpurple);
    color: var(--darkpurple);
}

.plan-list-item.selected-plan .fa-circle-check {
    display: inline-block;
}

.plan-list-item.selected-plan .fa-circle {
    display: none;
}

.pricing-disclaimer h5 {
    color: var(--lightgray);
    text-align: center;
}

.sites {
    text-decoration: underline;
}

.sites:hover {
    cursor: pointer;
}

.pageviews {
    text-align: center;
    margin-top: 80px;
    color: white;
}

.pageviews button {
    border-radius: 20px;
    padding: 7px;
    background: linear-gradient(90deg, #DE4C7D, #A756B8, #6669ED, #4D90E0);
    color: white;
    border: none;
    font-size: 14px;
}

.companies {
    text-align: center;
    margin-top: 110px;
    margin-bottom: 150px;
}

.companies h2 {
    color: white;
}

.faq {
    color: white;
    width: 700px;
    margin: auto;
}

.faq h2 {
    font-size: 2.5rem;
}

.questions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -20px;
}

.questions h3 {
    line-height: 1.75;
}

.questions h3:hover {
    cursor: pointer;
}

.faq-list-item p{
    line-height: 1.75;
    margin-top: 30px;
}

.faq-list-item .questions .fa-chevron-up {
    display: none;
}

.faq-list-item.selected-faq .fa-chevron-up {
    display: inline-block;
}

.faq-list-item.selected-faq .questions {
    background-color: var(--gray);
    margin-top: 20px;
    padding: 0 10px;
    width: 690px;
    border-radius: 10px;
}

.faq-list-item.selected-faq .fa-chevron-down {
    display: none;
}

.faq-list-item.selected-faq p {
    display: inline-block;
}

.faq-list-item p {
    display: none;
}